@import '~antd/dist/antd.css';

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-height {
    min-height: 100vh;
}

.mt-2 {
    margin-top: 2rem;
}
.ml-2 {
    margin-left: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}




